{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'partials/_menu.html' %}

	<main>
		<form>
			<label for="nomesobrenome"> Nome e sobrenome </label>
			<input type="text" id="nomesobrenome" class="input-padrao" required>
			
			<label for="email">Email</label>
			<input type="text" id="email" class="input-padrao" required placeholder=
			"seuemail@dominio.com">
			
			<label for="telefone">Telefone</label>
			<input type="text" id="telefone" class="input-padrao" required
			placeholder="(XX)XXXXX-XXXX">
			
			<label for = "mensagem"> Mensagem </label>
			<textarea cols="70" rows ="10" id="mensagem" class="input-padrao" required></textarea>
			
			<p class="canal_tl"> Venha participar do nosso canal do telegram e do Whatsapp:</p>
			
			<input type="submit" value="Enviar Formulário" class="enviar">
		</form>
		
	</main>

{% endblock %}